.git
.venv
venv
__pycache__
*.py[cod]
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
.coverage.*
.DS_Store

logs
exports
data
*_logs
node_modules
package*

configs/.env
configs/cluster.yaml
configs/scheduler.yaml
configs/server.yaml
configs/cluster_backups
