.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
.python-version
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

logs/
exports/
data/
*_logs
note_test*
study.pkl
server.log
executing.log

node_modules/
package*

cluster_backups/

configs/.env
configs/cluster.yaml
configs/scheduler.yaml
configs/server.yaml
configs/slurm.conf

!.env.example
!configs/.env.example
!configs/*.example.yaml

*.png

notebooks/

2027/